:root {
    /* CORES */
    --container-color-1: #fc8451ee;
    --container-color-2: #FF9B71;
    --highlight-color: #5C7457;
    --font-color: #13262F;

    /* ESPAÇOS */
    --sp-small: .4em;
    --sp-medium: .8em;
    --sp-big: 1.6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color: var(--font-color);

    /* GRID */
    display: grid;
    grid-template-columns: 260px 1fr;
}

#containerAside {
    background-color: var(--container-color-1);
    grid-column: 1 / 1;
    padding: 1.2em;
}

#containerAside h2 {
    text-align: center;
    font-size: 1.5em;
    padding: var(--sp-small) 0;

}

#containerAside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-bottom: var(--sp-small);
}

.containerAside-text  {
    text-align: center;
    font-size: 1.1em;
}

.highlight {
    color: var(--highlight-color);
    font-weight: 500;
    font-style: normal;
}

.welcomeTitle {
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: var(--sp-medium) 0;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border-bottom: 1px solid var(--font-color);
    padding-bottom: var(--sp-small);
}

.socialMedia a ion-icon {
    width: 30px;
    height: 30px;
    color: var(--highlight-color);
}

.socialMedia a ion-icon:hover {
    color: var(--font-color);
}

#mailbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--sp-small) 0;
    font-weight: 700;
    gap: var(--sp-small);
}

#mailbox a {
    text-decoration: none;
    font-size: .9em;
    color: var(--highlight-color);
}

#mailbox a:hover {
    color: var(--font-color);
}

#containerMain {
    grid-template-columns: 2 / -1;
    background-color: var(--container-color-2);
    padding: 2.4em;
    text-align: left;
}

.userDescription {
    border-bottom: 1px solid var(--font-color);
}

.userDescription h1{
    font-size: 2em;
}

.userDescription h2 {
    color: var(--highlight-color);
    font-size: 1.5em;
    padding-bottom: var(--sp-medium);
}

.containerMain-text {
    font-size: 1.1em;
    padding-bottom: var(--sp-medium);
}

.linkProjects {
    text-decoration: none;
    display: inline-block;
    color: var(--font-color);
    background-color: var(--highlight-color);
    padding: .7em;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: var(--sp-medium);

    /* FLEX */
    display: flex;
    align-items: center;
    gap: .4em;
    width: fit-content;
}

.linkProjects:hover {
    background-color: var(--font-color);
    color: var(--highlight-color);
}

#userSkills h2 {
    font-size: 1.5em;
    padding-top: var(--sp-small);
    padding-bottom: var(--sp-small);
}

#userSkills h3 {
    font-size: 1.3em;
    padding-bottom: var(--sp-medium);
}

.containerSkills {
    display: flex;
    justify-content: space-around;

    /* GRID */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "frontEnd backEnd devOps"
        "frameworkFront frameworkBack ferramentas"
    ;
    gap: 3em;
}

#frontEnd {
    grid-area: frontEnd;
}

#backEnd {
    grid-area: backEnd;
}

#devOps {
    grid-area: devOps;
}

#frameworkFront {
    grid-area: frameworkFront;
}

#frameworkBack {
    grid-area: frameworkBack;
}

#ferramentas {
    grid-area: ferramentas;
}

.containerSkills h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    border-left: 3px solid var(--highlight-color);
    margin-bottom: .8em;
    padding-left: var(--sp-small);
}

.skillsBox {
    margin-top: .8em;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.skills i {
    font-size: 3em;
}
